@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --gradient-background: linear-gradient(122deg, rgba(255, 228, 122, 0.80) 35.05%, rgba(142, 255, 88, 0.72) 96.88%);
    --secondary-gradient-background: linear-gradient(122deg, rgba(255, 228, 122, 0.50) 35.05%, rgba(142, 255, 88, 0.45) 96.88%);

}

.main-gradient-background {
    background: var(--gradient-background);
}

.secondary-gradient-background {
    background: var(--secondary-gradient-background);
}

.third-gradient-background {
    background: linear-gradient(122deg, rgba(255, 228, 122, 0.20) 35.05%, rgba(142, 255, 88, 0.18) 96.88%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: #000;
}